/* media query css for Tablets */
@media only screen and (max-width:1024px )
{
  .header{
    height:22rem;
  }
  .header-container{
    width:100%;
  }
  .logo-nav-bar{
    margin-top: 0;
    width:100%;
  }


  .banner{
    margin-top:5rem;
    margin-right: -2rem;
    height:3rem;
  }
  .banner span{
    font-size:1.33rem;
    margin:0.75  4rem;
  }



}
